@media (min-width: 768px )
{
    html
    {
      width: 768px;
      scroll-padding-top: 80px;
    }
    
    
/* header **********************************/
    
    .header
    {
      height: 80px;
      background-color: rgba(256,256,256,0.9);
    }
    .page-title h1
    {
      font: normal normal normal 32px/63px "Bad Script";
      margin: 8px 0 0 40px;
    }
    .menu__button
    {
      display: none;
    }
    
/* grid layout */
    .nav-list
    {
      width: 426px;
      display: grid;
      grid-template:
      ".... .... .... .... .... .... .... ...."7px
      "li-1 .... li-3 .... li-5 .... li-7 ...."48px
      "li-2 .... li-4 .... li-6 .... li-8 ...."20px
      /84px 40px 56px 40px 48px 32px 90px 36px;
      margin: 0px;
    }
    .li-1
    {
      grid-area: li-1;
      width: 84px;
    }
    .li-2
    {
      grid-area: li-2;
      width: 84px;
    }
    .li-3
    {
      grid-area: li-3;
    }
    .li-4
    {
      grid-area: li-4;
    }
    .li-5
    {
      grid-area: li-5;
    }
    .li-6
    {
      grid-area: li-6;
      margin-left: 6px;
    }
    .li-7
    {
      grid-area: li-7;
    }
    .li-8
    {
      grid-area: li-8;
      margin-left: 6px;
    }
    .nav-list li:nth-child(even)
    {
      position: relative;
      top: -5px;
    }
    
    .nav-font-BS a
    {
      color: #572B23;
    }
    .nav-font-SG a
    {
      color: #572B23;
    }
    .nav-gr a
    {
      color:$color-gr;
    }




/* hero ************************************/
    
    .hero
    {
      height: 1023px;
      background-image: url(image/top-image@2x.png);
      background-size: 100%;
      background-position: 86% 0%;
    }
    .message-en
    {
      position: relative;
      top: 462px;
      width: 100%;
      height: 100px;
          & h3
          {
              font: normal normal normal 4em/100px "Bad Script";
              color: $color-gr;
          }
    }

    .message-ja
    {
      position: relative;
      top: 502px;
      width: 44.7%;
      height: 60px;
          & h3
          {
              font: normal normal normal 2.4em/60px Sawarabi Gothic;
              color: $color-br;
          }
    }
    .btn
    {
      position: absolute;
      top: 82.7%;
      left: 50%;
    }
    
    
/* profile ************************************/
    
    .profile
    {
      height: 758px;
    }
    .profile-images
    {
      width: 296px;
      height: 371px;
      margin: 0;
    }
    .profile-image-sp
    {
      display: none;
    }
    .profile-image-pc
    {
      display: block;
    }
    .profile-grid
    {
      width: 696px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      display: grid;
      grid-template:
      "title title title"131px
      "padding2 padding2 padding2"91px
      "img padding text"411px
      "btn btn btn" 56px/
      296px 40px 360px;
    } 
    .padding
    {
      grid-area: padding;
    }
    .padding2
    {
      grid-area: padding2;
    }
    .profile-title
    {
      height: 51px;
      grid-area: title;
      padding-top: 120px;
      margin: 0;
      text-align: center;
      font: 36px/54px "Sawarabi Gothic";
    }
    .profile-design-area
    {
      grid-area: img;
    }
    .profile-text
    {
      position: relative;
      top: -8px;
      width: 360px;
      height: 311px;
      grid-area: text;
      padding: 0;
      margin: 0;
          & p
          {
            font-size: 16px;
            line-height: 1.95;
          }
    }
    .btn-area
    {
      width: 440px;
      margin: 0 auto;
      grid-area: btn
          
    }
    .btn-sns
    {
      width: 200px;
      padding: 0;
      margin: 0;
    }
    .btn-left
    {
      margin-right: 40px;
    }

    .profile-design-outline
    {
      position: absolute;
      top: -8px;
      left: 50%;
      transform: translateX(-52%);
      z-index: -1;
      width: 296px;
      height: 371px;
      outline: solid 1px $color-gr;
    }
    .profile-design-outline2
    {
      position: absolute;
      top: 8px;
      left: 50%;
      transform: translateX(-48%);
      z-index: -1;
      width: 296px;
      height: 371px;
      outline: solid 1px $color-gr;
    }
    
    
    
    
    .back-design01 p
    {
      width: 289px;
      height: 237px;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      font: normal normal normal 120px/237px Bad Script;
      color: #F6F3EB;
      padding-right: 40px;
    }
    .back-design02 img
    {
      position: absolute;
      bottom: -68px;
    }
    
    
/* works ************************************/
    .works
    {
      height: 1791px;
    }
    .back-design-title p
    {
      width: 768px;
      height: 237px;
      font: 120px/237px Bad Script;
    }.works-title
    {
      font: normal normal normal 32px/45px Sawarabi Gothic;
    }
    .works-hedding
    {
      position: relative;
      top: 40px;
      font-size: 36px;
      padding-bottom: 64px;
    }
    #works-image
    {
      padding: 0;
      margin-top: 23px;
    }
    .works-image img
    {
      width: 350px;
      height: 200px;
    }
    .works-design-area
    {
      margin-top: 24px;
    }
    .works-design-outline,.works-design-outline2,.works-design-outline3
    {
      width: 350px;
      height: 200px;
    }
    
    .works-design-outline2
    {
      position: absolute;
      top: 31px;
      left: 50%;
      transform: translateX(-47.5%);
      z-index: 100;
      width: 350px;
      height: 200px;
      outline: solid 1px $color-gr;
    }
    .back-design04 img
    {
              position: absolute;
              bottom: -16px;
              right: 0;
              z-index: 10;
    }
    .w-1,.w-2,.w-3
    {
      width: 500px;
    }
    .works-text
    {
      width: 500px;
      height: 95px;
      margin:16px auto 0 auto;
    }
    .img-3
    {
      margin-top: 48px;
    }
    .btn-w3
    {
      margin-top: 42px;
    }
    
/* skill ************************************/
    .skill
    {
      height: 826px;
    }
    .skill-title
    {
      padding-top: 120px;
      font: 36px/54px Sawarabi Gothic;
    }
    .skill-text
    {
      width: 500px;
      height: 183px;
    }
    .back-design-title-skill p
    {
      width: 209px;
      height: 237px;
      left: 40px;
      font: 120px/237px "Bad Script";
    }
    .skill-menu
    {
      width: 500px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
    .skill-image-area
    {
      margin-top: 0;
    }
    .skill-image-area img
    {
      width: 320px;
      height: 320px;
      position: relative;
      left: -16px;
      
    }
    .skill-menu-list
    {
      width: 120px;
      height: 277px;
          & ul li
          {
            font: 18px/36px Sawarabi Gothic;
          }
    }
    .back-design06 img
    {
        position: absolute;
        bottom: -75px;
    }
    

/* contact ************************************/
    .contact
    {
      height: 903px;
    }
    .contact-title
    {
      position: relative;
      top: 38px;
      font: 36px/54px Sawarabi Gothic;
    }
    .back-design-title3 p
    {
      width: 334px;
      height: 237px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      font: 120px/237px Bad Script;
    }
    .letter
    {
      width: 380px;
      margin-top: 84px;
    }
    .back-design07
    {
      position: relative;
      bottom: 0;
      right: 0;
          & img
          {
              position: absolute;
              bottom: -88px;
              right: 0;
              z-index: 10;
          }
    }
    
}

