/*ﾘｾｯﾄCSS HTML5 Doctor CSS Reset************/
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  font-weight: normal;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
   font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}

/* @mixin *********************************/


@mixin section-title
{
  font: Regular 36px/54px "Sawarabi Gothic";
  color: #572B23;
  opacity: 1;
}

@mixin sub-title
{
  font: normal normal normal 32px/47px "Sawarabi Gothic";
  letter-spacing: 0px;
  color: #572B23;
  opacity: 1;
  padding-top: 80px;
  text-align: center;
}

@mixin works-title
{
  font: normal normal normal 24px/36px "Sawarabi Gothic";
  letter-spacing: 0px;
  color: #572B23;
  opacity: 1;
}

@mixin works-text
{
  font: normal normal normal 16px/24px "Sawarabi Gothic";
  letter-spacing: 0px;
  color: #572B23;
  opacity: 1;
}

$color-br: #572B23;
$color-gr: #325811;
$font-SG: "Sawarabi Gothic";
$font-BS: "Bad Script";
/* header *********************************/
html
{
  width: 375px;
  height: 62.5%;
  font-family: "Sawarabi Gothic";
  scroll-behavior: smooth;
  scroll-padding-top: 56px;
  font-size: 62.5%;
  
}
.header
{
  width: 100%;
  height: 5.6em;
  position: fixed;
  z-index: 11000;
  display: flex;
  justify-content: space-between;
  background-color: rgba(256,256,256,0.9);
}
.page-title h1
{
  display: inline-block;
  text-align: left;
  font: normal normal normal 20px/39px "Bad Script";
  margin: 8px 0 0 16px;
  color: #572B23;
}
.page-title a
{
  text-decoration: none;
  color: $color-br;
}
.nav-list
{
  text-align: center;
      & a
      {
        text-decoration: none;
      }
}
.nav-font-BS
{
  font: 24px/48px "Bad Script";
  letter-spacing: 0px;
  color: #572B23;
  opacity: 1;
  top: 170px;
  left: 213px;
  width: 58px;
  height: 48px;
  display: inline-block;
}
.nav-font-SG
{
  font: 14px/21px Sawarabi Gothic;
  letter-spacing: 0px;
  color: #572B23;
  opacity: 1;
  top: 214px;
  left: 202px;
  padding-bottom: 24px;
  display: inline-block;
}

.btn
{
  cursor: pointer;
  overflow: hidden;
}
.btn
{
  position: relative;
  z-index: 2;
}
.btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: $color-br;
  transition: all 300ms linear;
}
.btn:hover > .aa
{
  color: #fff;
}
.btn:hover:before
{
  left:0;
}
/* ﾊﾝﾊﾞｰｶﾞｰﾒﾆｭｰ ***************************/


.header-cover
{
  display: none;
  height: 100vh;
  width: 100%;
  position: absolute;
  top:0;
  right:0;
  z-index: 800;
  background-color: rgba(0,0,0,0);
}
@media (max-width: 767px )
{
    .menu 
    {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 900;
      width: 69.8%;
      height: 100vh;
      background: #F6F3EB 0% 0% no-repeat padding-box;
      opacity: 0.9;
          & nav
          {
            margin-top: 170px;
          }
          & a
          {
            text-decoration: none;
            color: $color-br;
          }
          & .nav-gr a
          {
            color: $color-gr;
          }
    }

    /* ｱｲｺﾝ */

    .menu__button 
    {
      position: absolute;
      right: 4.31%;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1000;
      width: 45.25px;
      height: 24px;
      background: rgba(256,256,256,0);
      opacity: 0.9;
      text-decoration: none;
      cursor: pointer;
      border: none;
    }

    .menu__button span 
    {
      display: block;
      width: 80%;
      margin-right: 15.19px 16.19px 0 0;
      height: 1px;
      background-color: #315611;
      border-radius: 3px;
      position: absolute;
      left: 0;
      right: 0;
      top: calc((100% - 1px)/2)
    }
    .menu__lineTop
    {
      transform: translateY(10px);
    }
    .menu__lineBottom
    {
      transform: translateY(-10px);
    }

    button:focus
    {
      outline:0;
    }

    /* ｱｲｺﾝｸﾘｯｸで×になる */
    .menu--isOpen .menu__lineTop 
    {
      transition: all .5s;
      transform: rotate(45deg);
    }
    .menu--isOpen .menu__lineMiddle 
    {
      opacity: 0;
    }
    .menu--isOpen .menu__lineBottom 
    {
      transition: all .5s;
      transform: rotate(-45deg);  
    }
}

/* heroｾｸｼｮﾝ *******************************/
.hero
{
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 667px;
  background-image: url("../image/top-image.png");
  background-size: 100%;
  background-position: 46% 50%;
  background-repeat: no-repeat;
}
.message-en
{
  position: relative;
  top:274px;
  width: 93.6%;
  height: 56px;
  background: rgba(256,256,256,0.9);
  
      & h3
      {
          font: normal normal normal 1.8em/56px "Bad Script";
          color: $color-gr;
          padding-left: 6.13%;
      }
}

.message-ja
{
  position: relative;
  top:310px;
  width: 60.5%;
  height: 48px;
  background: rgba(256,256,256,0.9);
  
      & h3
      {
          font: normal normal normal 16px/48px Sawarabi Gothic;
          color: $color-br;
          padding-left: 10.5%;
      }
}
.btn
{
  position: absolute;
  top: 79.6%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 56px;
  background: rgba(256,256,256,.6);
  border: 1px solid #572B23;
      & a
      {
          display: inline-block;
          font: normal normal normal 23px/56px Bad Script;
          color: $color-br;
          padding-left: 66.91px;
      }
}

/* profileｾｸｼｮﾝ *****************************/

.profile
{
  width: 100vw;
  height: 1054px;
}
/* 背景ﾃﾞｻﾞｲﾝ */
.back-design01
{
  position: relative;
  top: 0;
  left: 0;
      & img
      {
          position: absolute;
          top: 0;
          right: 0;
          z-index: -10;
      }
      & p
      {
          width: 241px;
          height: 197px;
          position: absolute;
          top: 0;
          right: 0;
          z-index: -1;
          font: normal normal normal 100px/197px Bad Script;
          color: #F6F3EB;
          padding-right: 6.4%;
      }
}
.back-design02
{
  position: relative;
  bottom: 0;
  left: 0;
      & img
      {
          position: absolute;
          bottom: -70px;
          left: 0;
          z-index: -1;
      }
}
.back-design03
{
  position: relative;
  top: 0;
  left: 0;
      & img
      {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 10;
      }
}
.back-design04
{
  position: relative;
  bottom: -50px;
  right: 0;
      & img
      {
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 10;
      }
}
.back-design05
{
  position: relative;
  top: 0;
  right: 0;
      & img
      {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 10;
      }
}
.back-design06
{
  position: relative;
  bottom: 0;
  left: 0;
      & img
      {
          position: absolute;
          bottom: -62px;
          left: 0;
          z-index: -1;
      }
}
.back-design07
{
  position: relative;
  bottom: 0;
  right: 0;
      & img
      {
          position: absolute;
          bottom: -65px;
          right: 0;
          z-index: 10;
      }
}
.back-design08
{
  position: relative;
  bottom: 0;
  left: 0;
      & img
      {
          position: absolute;
          bottom: 0px;
          left: 0;
          z-index: -1;
      }
}
.back-design-title
{
  position: relative;
  top: 0;
  left: 0;

      & p
      {
          width: 375px;
          height: 197px;
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
          font: normal normal normal 100px/197px Bad Script;
          color: #F6F3EB;
          text-align: center;
      }
}
.back-design-title-skill
{
  position: relative;
  top: 0;
  left: 0;

      & p
      {
          width: 241px;
          height: 197px;
          position: absolute;
          top: 0;
          left: 24px;
          z-index: 1;
          font: normal normal normal 100px/197px Bad Script;
          color: #F6F3EB;
          padding-right: 24px;
      }
}
.back-design-title3
{
  position: relative;
  top: 0;
  left: 0;

      & p
      {
          width: 241px;
          height: 197px;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          z-index: 1;
          font: normal normal normal 100px/197px Bad Script;
          color: #F6F3EB;
          
      }
}


/* ﾌﾟﾛﾌｨｰﾙ *****/

.profile-title
{
   @include sub-title;
}

/*ｲﾒｰｼﾞ ｱｳﾄﾗｲﾝﾞ */
.profile-design-area
{
  position: relative;
}
.profile-design-outline
{
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-52.5%);
  z-index: -1;
  width: 316px;
  height: 330px;
  outline: solid 1px $color-gr;
}
.profile-design-outline2
{
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-47.5%);
  z-index: -1;
  width: 316px;
  height: 330px;
  outline: solid 1px $color-gr;
}

.works-design-area
{
  position: relative;
}
.works-design-outline
{
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-52.5%);
  z-index: 100;
  width: 330px;
  height: 190px;
  outline: solid 1px $color-gr;
}
.works-design-outline2
{
  position: absolute;
  top: 56px;
  left: 50%;
  transform: translateX(-47.5%);
  z-index: 100;
  width: 330px;
  height: 190px;
  outline: solid 1px $color-gr;
}
.works-design-outline3
{
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-47.5%);
  z-index: 100;
  width: 330px;
  height: 190px;
  outline: solid 1px $color-gr;
}

.profile-image
{
  display: flex;
  justify-content: center;
}
.profile-images
{
  width: 316px;
  height: 330px;
  margin-top: 40px;
}
.profile-image-pc
{
  display: none;
}
.profile-image-sp
{
  display: block;
}
.profile-text
{
  width: 90%;
  height: 375px;
  line-height: 1.5;
  margin-top: 40px;
  margin-left: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  
      & p
      {
          font: normal normal normal 16px/32px Sawarabi Gothic;
          color: $color-br;
          letter-spacing: 0.32px;
      }
}
.btn-area
{
  display: flex;
  width: 336px;
  margin: 0 auto;
}
.btn-sns
{
  width: 160px;
  height: 48px;
  background: #fff;
  opacity: .6;
  border: 1px solid $color-gr;
  border-radius: 3px;
  margin-top: 32px;
  text-align: center;
      & a
      {
        font: normal normal normal 24px/48px Bad Script;
        color: $color-gr;
      }
}
.btn-right
{
  margin-left: 16px;
}
.btn-sns
{
  cursor: pointer;
  overflow: hidden;
}
.btn-sns
{
  position: relative;
  z-index: 2;
}
.btn-sns:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: $color-gr;
  transition: all 300ms linear;
}
.btn-sns:hover > .aa
{
  color: #fff;
}
.btn-sns:hover:before
{
  left:0;
}

/* worksｾｸｼｮﾝ ******************************/

.works
{
  width: 100vw;
  height: 1838px;
  background: #F9F9F9;
}
.works-hedding
{
  @include sub-title;
  position: relative;
  z-index: 1000;
}

.works-image
{
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1000;
      & img
      {
        width: 330px;
        height: 190px;
      }
}
#works-image
{
  margin-top: 48px;
}
.img-3
{
  margin-top: 80px;
}
.works-title
{
  @include works-title;
  margin-top: 24px;
}
.w-1,.w-2,.w-3
    {
      width: 335px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
.works-text
{
  width: 335px;
  height: 143px;
  margin:16px auto 0 auto;
  @include works-text;
  letter-spacing: 0.32px;
  word-break: break-all;
}
.wt-3
{
  height: 191px;
}
.btn-toSite
{
  width: 120px;
  height: 40px;
  position: relative;
  top: 0px;
  z-index: 100;
  background: #fff;
  opacity: .6;
  border: 1px solid $color-gr;
  border-radius: 3px;
  margin: 16px auto 0 auto;
  text-align: center;
      & a
      {
        font: normal normal normal 14px/40px Bad Script;
        color: $color-gr;
        
      }
}
.btn-toSite
{
  cursor: pointer;
  overflow: hidden;
}
.btn-toSite
{
  position: relative;
  z-index: 2;
}
.btn-toSite:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: $color-gr;
  transition: all 300ms linear;
}
.btn-toSite:hover > .aa
{
  color: #fff;
}
.btn-toSite:hover:before
{
  left:0;
}

/* skillｾｸｼｮﾝ ******************************/

.skill
{
  width: 100vw;
  height: 793px; 
}
.skill-title
{
  @include sub-title;
  font:36px/54px Sawarabi Gothic;
  position: relative;
  z-index: 1000;
}

.skill-text-area
{
  display: flex;
  justify-content: center;
}
.skill-text
{
  width: 332px;
  margin-top: 32px;
      & p
      {
        font: normal normal normal 16px/32px Sawarabi Gothic;
        letter-spacing: 0.32px;
        color: $color-br;
      }
}
.skill-menu
{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.skill-image-area
{
  margin-top: 24px;
}
.skill-menu-list ul
{
  width: 106px;
  height: 247px;
  color: $color-br;
  list-style: none;
  
      & li
      {
          font: 16px/32px Sawarabi Gothic;
      }
      & span
      {
          color: $color-gr;
      }
}


/* contactｾｸｼｮﾝ ****************************/

.contact
{
  width: 100vw;
  height: 847px;
  background: #f9f9f9;
}
.contact-title
{
  @include sub-title;
  font: 36px/54px Sawarabi Gothic;
  position: relative;
  z-index: 1000;
}
/* 封筒の形 */
.letter
{
  width: 350px;
  margin: 0 auto;
  height: 500px;
  background: #FFFFFF;
  border: 1px solid $color-gr;
  position: relative;
  margin-top: 56.7px;
}

.diagonal-line-left
{
  display: table;
  width: 45px;
  height: 1px;
  background-color: $color-gr;
  transform: skewY(45deg);
  margin-top: 22px;
}
.border-bottom
{
  width: calc(100% - 90px);
  height: 45px;
  border-bottom: solid 1px $color-gr;
  position: absolute;
  top: 0;
  left: 45px;
}
.diagonal-line-right
{
  display: table;
  width: 45px;
  height: 1px;
  background-color: $color-gr;
  margin-top: 0;
  margin-left: 100%;
  transform: translateX(-100%) skewY(-45deg);
}


/* 中身 */


.form-grid
{
  padding-top: 35px;
}
.form-input
{
  width: 300px;
  height: 31.5px;
  line-height: 31.5px;
  display:flex;
  margin: 25px auto 0 auto;
  border-bottom: solid 1px $color-br;

      & input
      {
          width: 232px;
          border: none;
          outline: none;
          opacity: .5;
      }
      & p
      {
        text-indent: .5em;
      }
}
.form-message textarea
{
  opacity: .5;
}
.form-email p
{
  width: 50px;
  font: normal normal normal 16px/31px Bad Script;
  margin-right: 16px;
}
.form-name p
{
  width: 34px;
  font: normal normal normal 16px/31px Bad Script;
  margin-right: 24px;
}
.form-subject p
{
  width: 41px;
  font: normal normal normal 16px/31px Bad Script;
  margin-right: 16px;
}
.form-message
{
  width: 300px;
  height: 31px;
  line-height: 31px;
  font: normal normal normal 16px/31px Bad Script;
  color: $color-br;
  margin: 25px auto 0 auto;
  border-bottom: solid 1px $color-br;
       & textarea
       {
           width: 300px;
           height: 160px;
           border: solid 1px $color-br;
       }
       & p
       {
           text-indent: .5em;
       }
}

input::placeholder
{
  font: normal normal normal 16px/31px Bad Script;
  color: $color-gr;
}
textarea::placeholder
{
  font: normal normal normal 16px/31px Bad Script;
  color: $color-gr;
  padding-left: 8px;
}

.btn-postit
{
  width: 200px;
  height: 56px;
  text-align: center;
  margin: 40px auto 0 auto;
  font: normal normal normal 24px/56px Bad Script;
  color: $color-gr;
  opacity: .6;
  background: white;
  outline: solid 1px $color-gr;
}
.btn-postit
{
  cursor: pointer;
  overflow: hidden;
}
.btn-postit
{
  position: relative;
  z-index: 2;
}
.btn-postit:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: $color-gr;
  transition: all 300ms linear;
}
.btn-postit:hover > .aa
{
  color: #fff;
}
.btn-postit:hover:before
{
  left:0;
}

/* footer **********************************/

.footer
{
  width: 100vw;
  height: 138px;
}
.sns-icon
{
  text-align: center;
      & i
      {
          font-size: 30px;
          color: $color-br;
          margin-left: 14px;
          padding-top: 24px;
      }
}
.fa-twitter:hover
{
  position:relative;
  top: -3px;
}
.fa-instagram:hover
{
  position:relative;
  top: -3px;
}
.fa-facebook:hover
{
  position:relative;
  top: -3px;
}

.copyright
{
  height: 36px;
  color: $color-br;
  font: normal normal normal 18px/36px Bad Script;
  display: flex;
  text-align: center;
  padding: 24px 0;
  
      & p:nth-child(1)
      {
        transform: translateY(12.5%);
        position: relative;
        left: calc(50% - 55px);
      }
      & p:nth-child(2)
      {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
}


@import "ipad";
@import "pc";



